
/*ESTILO GERAL*/
*{
    margin: auto;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body{
    background-color: #565c5b;
    height: 100vh;
}

.interface{
    max-width: 1280px;
    margin: 0 auto;
}


/* ESTILO DO CABEÇALHO */
header{
    padding: 40px 4%;
}

header > .interface{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header a{
    color: #c9fbf7;
    text-decoration: none;
    display: inline-block;
}
header a:hover{
    color: #fff;
    transform: scale(1.05);
}

header nav ul{
    list-style-type: none;
}

header nav ul li{
    display: inline-block;
    padding: 0 40px ;
}
header .btn-contato button{
    padding: 10px 40px;
    font-size: 18px;
    font-weight: 600;
    background-color: #8bfff9;
    border: 0;
    border-radius: 30px;
    cursor: pointer;
}
header .btn-contato button:hover{
    box-shadow: 0px 0px 8px #75f2ec;

}

/* ESTILO DO TOPO DO SITE */
section.topo-do-site {
    padding: 30px 4%;
    display: flex;
    align-items: center;
    gap: 20px;
    margin-bottom: 0;
    padding-bottom: 0;
}

section.topo-do-site .flex {
    align-items: center ;
    justify-content: center ;
    gap: auto;
}

.topo-do-site h1 {
    color:#8bfff9;
    font-size: 40px;
    line-height: 20px;
}

.topo-do-site .txt-topo-site h1 span {
    color: #8bfff9;
    font-size: 40px;
    
    
}

.txt-topo-site p {
    color: #fff;
    margin: 40px 0;
    font-size: 18px ;
    padding: 0px 0px;
}

/* ESTILO DO SOBRE */
section.sobre {
    display: flex; 
    align-items: center; 
    gap: 20px; 
    padding: 40px 2%; 
    margin: 0 auto; 
    max-width: 1200px; 
    margin-top: 0;
    padding-top: 0;
}


.sobre .img-topo-site {
    flex: 0 0 350px; 
    max-width: 100%; 
    height: auto; 
}

.sobre .txt-sobre h1 {
    text-align: center;
    color:#8bfff9;
    font-size: 40px;
    line-height: 20px;
    margin-left: 0;
    display: flex;
    margin-bottom: 0.10px;

}


.sobre .txt-sobre {
    flex: 1; 
    text-align: left; 
    padding: 0 20px;
    width: 500px;
    color: #fff;
}

.btn-social button {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: none;
    background-color: #8bfff9;
    font-size: 22px;
    cursor: pointer;
    margin: 0 5px;
    transition: .2s;
}
h2.titulo{
    color: #8bfff9;
    font-size: 50;
    text-align: center;
}
/* ESTILO DAS ESPECIALIDADES */

.servicos {
    background: #0f1010d0;
    color: #fff;
    padding: 80px 4%;
    box-shadow: 0 0 40px 10px #2d3b3bf6;

}

.servicos .titulo::before {
    background: #ffffff;
    width: 500px;
}

.servicos .titulo::after {
    background: #ffffff;
}

.servicos .servicos-conteudo {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.servicos .max-width .servicos-conteudo .card1,
.servicos .max-width .servicos-conteudo .card2,
.servicos .max-width .servicos-conteudo .card3,
.servicos .max-width .servicos-conteudo .card4,
.servicos .max-width .servicos-conteudo .card5,
.servicos .max-width .servicos-conteudo .card6,
.servicos .max-width .servicos-conteudo .card7 {
    width: calc(33% - 20px);
    background: var(--azul-degrade);
    text-align: center;
    border-radius: 6px;
    padding: 20px 25px;
    cursor: pointer;
    transition: all .5s ease;
    margin: .5em;
}

.servicos .max-width .servicos-conteudo .card1:hover,
.servicos .max-width .servicos-conteudo .card2:hover,
.servicos .max-width .servicos-conteudo .card3:hover,
.servicos .max-width .servicos-conteudo .card4:hover,
.servicos .max-width .servicos-conteudo .card5:hover,
.servicos .max-width .servicos-conteudo .card6:hover,
.servicos .max-width .servicos-conteudo .card7:hover {
    background: var(--branco);
    color: #c8c8c8;
}

.servicos .max-width .servicos-conteudo .card7:hover {
    .text{
        color:rgb(255, 255, 255);
    }

}

.servicos .max-width .servicos-conteudo .card1 .box,
.servicos .max-width .servicos-conteudo .card2 .box,
.servicos .max-width .servicos-conteudo .card3 .box,
.servicos .max-width .servicos-conteudo .card4 .box,
.servicos .max-width .servicos-conteudo .card5 .box,
.servicos .max-width .servicos-conteudo .card6 .box,
.servicos .max-width .servicos-conteudo .card7 .box {
    transition: all 0.4s ease;
}

.servicos .max-width .servicos-conteudo .card1:hover .box,
.servicos .max-width .servicos-conteudo .card2:hover .box,
.servicos .max-width .servicos-conteudo .card3:hover .box,
.servicos .max-width .servicos-conteudo .card4:hover .box,
.servicos .max-width .servicos-conteudo .card5:hover .box,
.servicos .max-width .servicos-conteudo .card6:hover .box,
.servicos .max-width .servicos-conteudo .card7:hover .box {
    transform: 0.3s;
    transform: scale(1.05);
}

.servicos .max-width .servicos-conteudo .card1 ion-icon,
.servicos .max-width .servicos-conteudo .card2 ion-icon,
.servicos .max-width .servicos-conteudo .card3 ion-icon,
.servicos .max-width .servicos-conteudo .card4 ion-icon,
.servicos .max-width .servicos-conteudo .card5 i,
.servicos .max-width .servicos-conteudo .card6 ion-icon{
    font-size: 40px;
    color: var(--branco);
}

.fa-java {
    font-size: 40px;
    color: var(--branco);
}

.servicos .max-width .servicos-conteudo .card1 .text,
.servicos .max-width .servicos-conteudo .card2 .text,
.servicos .max-width .servicos-conteudo .card3 .text,
.servicos .max-width .servicos-conteudo .card4 .text,
.servicos .max-width .servicos-conteudo .card5 .text,
.servicos .max-width .servicos-conteudo .card6 .text{
    font-size: 25px;
    font-weight: 500;
    margin: 10px 0px 0;
}

.servicos .max-width .servicos-conteudo .card7 .text {
    font-size: 25px;
}


.servicos .max-width .servicos-conteudo .card1:hover ion-icon {
    color: #2862e9;
    font-size: 5%;
}

.servicos .max-width .servicos-conteudo .card2:hover ion-icon {
    color: #E96228;
    font-size: 5px;
}

.servicos .max-width .servicos-conteudo .card3:hover ion-icon {
    color: #91C12F;
    font-size: 5px;
}

.servicos .max-width .servicos-conteudo .card4:hover ion-icon {
    color: #D6002F;
    font-size: 5px;
}

.servicos .max-width .servicos-conteudo .card5:hover i {
    color: #fd9002;
    font-size: 5px;
}

.servicos .max-width .servicos-conteudo .card6:hover ion-icon {
    color: #addb04;
    font-size: 5px;
}

@media(max-width: 925px) {

    .servicos .titulo::after {
        width: 180px;
    }

    .servicos .max-width .servicos-conteudo .card1,
    .servicos .max-width .servicos-conteudo .card2,
    .servicos .max-width .servicos-conteudo .card3,
    .servicos .max-width .servicos-conteudo .card4,
    .servicos .max-width .servicos-conteudo .card5,
    .servicos .max-width .servicos-conteudo .card6,
    .servicos .max-width .servicos-conteudo .card7 {
        width: calc(50% - 10px);
        margin-bottom: 20px;
    }
}

@media (max-width: 690px) {

    .servicos .max-width .servicos-conteudo .card1,
    .servicos .max-width .servicos-conteudo .card2,
    .servicos .max-width .servicos-conteudo .card3,
    .servicos .max-width .servicos-conteudo .card4,
    .servicos .max-width .servicos-conteudo .card5,
    .servicos .max-width .servicos-conteudo .card6,
    .servicos .max-width .servicos-conteudo .card7 {
        width: 100%;
    }
}

/* ESTILO DO PORTFÓLIO */
#projetos {
    background-color: #0f1010d0;
    box-shadow: 0 0 40px 40px #657a7af6;
    padding: 0px 2%;
    
}

.portfolio {
    background-image: url(https://cdn.discordapp.com/attachments/957316110653464596/1094558908531605624/image.png);
    background-size: cover;
}

.projetos {
    padding: 80px 4% ;
}

.projetos h1, .projetos a {
    text-align: center;
    color: #8bfff9;
}
.projetos a {
    color: #000;
    font-size: 30px;
    font-family: "Poppins", sans-serif;
}
.pro-portfolio {
    font-family: "Poppins", sans-serif;

}
   

.projetos h2 {
    padding-bottom: 90px;
}

.github-link button {
    padding: 10px 100px;
    border-radius: 25px;
    cursor: pointer;
    color: rgb(0, 0, 0);
    background-color: #8bfff9 ;
    border: none;
    transition: ease-in-out 0.3s;
    gap: 0px;
}



.github-link {
    margin: 0 auto;
    padding-top: 35px;
    padding-bottom: 93px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    gap: 35px;
}



.pro {
    background-color: #787878;
    height: 195px;
    width: 350px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    overflow: hidden;
    transition: ease-in-out 0.3s;
}

.pro div p {
    font-family: 'Fira Sans', sans-serif;
    font-size: 20px;
    color: #3b3b3bf3;
}

.pro:hover {
    letter-spacing: 5px;
}

.pro div {
    background-color: #8bfff9;
    width: 1000px;
    text-align: center;
    padding: 5% 0;
    transform: rotate(-50deg);
}

.escondido {
    opacity: 0;
    display: none;
    transition: 1000ms;
}

.projetos-itens {
    display: flex;
    flex-wrap: wrap;
    gap: 29.5px;
    width: 100%;
    justify-content: center;
    font-family: "Poppins", sans-serif;
}


/* ESTILO DO FORMULÁRIO DE CONTATO */
section.formulario {
    padding: 80px 4%;
    
}
section.formulario h2 {
    color: #b6fffb;
}

form {
    max-width: 500px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 5px;
    margin-top: 40px;
}

form input,
form textarea {
    width: 100%;
    background-color: #242424;
    border: 0;
    outline: 0;
    padding: 20px 15px;
    border-radius: 15px;
    color: #b6fffb;
    font-size: 18px;
}

form textarea {
    resize: none;
    max-height: 200px;
}

form .btn-enviar {
    margin-top: 20px;
    text-align: center;
}
section.formulario .interface {
    color: #fff;
}

form .btn-enviar input {
    width: 120px;
    background-color: #8bfff9;
    color: #000;
    font-weight: 700;
    cursor: pointer;
    transition: .2s;
    box-shadow: 0px 0px 8px #98f3ee;
    border-radius: 30px;
    cursor: pointer;
}

/* ESTILO DO RODAPÉ */

footer {
    padding: 40px 4%;
    box-shadow: 0 0 40px 10px #ffffff1d;
}

footer .flex {
    justify-content: space-between;
}

footer .line-footer {
    padding: 20px 0;
    align-items: center ;
    justify-content: center ;
    text-align: center;
}

.borda {
    border-top: 2px solid #b6fffb;
}

footer .line-footer p i {
    color: #b6fffb;
    font-size: 22px;
}

footer .line-footer p a {
    color: #b6fffb;
}

/*RESPONSIVO*/

@media (max-width: 768px) {
       


    #main {
        min-width: 320px;
        max-width: 800px;
        margin: auto;
        overflow:hidden ;
        padding: 0px;
        gap: 0px;

        
    }


    .interface{
        min-width: 320px;
        max-width: 800px;
        margin: auto;
        justify-content: center;
    }


    /* CLASSES GERAIS */
    .flex {
        flex-direction: column;
        padding: 0px;
        gap: 0px;
        margin: auto;
        min-width: 320px;
        max-width: 800px;
    }

    .topo-do-site .flex{
        flex-direction: column-reverse;
        min-width: 320px;
        max-width: 800px;
        margin: auto;
        justify-content: center;

    }
    
    .topo-do-site h1 {
        color: #8bfff9;
        font-size: 40px ;
        line-height: 50px;
        margin: 0%;
    }

    h2.titulo {
        font-size: 10px 4;
        line-height: 10px;
        min-width: 320px;
        max-width: 800px;
        margin: auto;
        justify-content: center;
    }

    /* CABEÇALHO */
    .menu-desktop, .btn-contato {
        display: none;
    }       

    }
 

    /* SOBRE */
    #sobre {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        padding: 20px;
    }
    section.sobre .img-topo-site img{
       width: 100%;
       max-width: 500px;
    }
    section.sobre .txt-sobre  h1 {
        font-size: 30px;
        line-height: 15px;
        text-align: c;
        padding: 1px;
        margin: 0%;
        justify-content: center;
    }
    .sobre .txt-sobre   { 
        width: 100%;
        padding: 1%;
        gap: 0%;
    }

     .btn-social {
        text-align: left;
        margin:0%;
        gap: 0%;

    }
    .btn-social{
        gap: 40px 3%;
        text-align: center;
    }

    /* RODAPÉ */
    footer .logo-footer .flex {
        flex-direction: column;
        gap: 0;
    }



    footer .line-footer {
        text-align: center;
    }



    






